/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  box-sizing: border-box; }

html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  color: #000;
  background: #fff;
  font: 1rem/1.32 "exo2", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "exo2"; }

a {
  outline: none;
  text-decoration: none; }

.wrapper {
  position: relative;
  max-width: 1080px;
  min-width: 300px;
  margin: 0 auto; }

.header {
  background: #50a6bd;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 70% 100%, 30% 100%, 0 75%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 70% 100%, 30% 100%, 0 75%, 0 0); }

.nav__menu {
  padding: 0;
  margin: 0; }
  @media screen and (max-width: 768px) {
    .nav__menu {
      margin-top: 20px; } }

.header__block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0 30px 0; }
  @media screen and (max-width: 768px) {
    .header__block {
      display: block; } }

.header__logo {
  display: flex;
  justify-content: space-around;
  font-size: 1.6875rem; }
  @media screen and (max-width: 768px) {
    .header__logo {
      text-align: center; } }

.arrow_img {
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  margin-right: 10px;
  margin-top: 5px; }
  @media screen and (max-width: 480px) {
    .arrow_img {
      display: none; } }

.header__menu {
  transition: all 0.5s; }
  @media screen and (max-width: 768px) {
    .header__menu {
      display: none;
      clear: both;
      width: 100%; } }

.dn {
  display: none; }
  @media screen and (max-width: 768px) {
    .dn {
      display: inline-block;
      font-size: 2rem;
      list-style: none; } }

.logo__link {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #fff;
  transition: 0.5s; }
  .logo__link:hover {
    color: #000; }

.menu__list {
  position: relative;
  display: inline-block;
  font-size: 0.875rem;
  text-transform: uppercase;
  list-style: none;
  padding: 0 10px; }
  @media screen and (max-width: 768px) {
    .menu__list {
      padding: 20px 0;
      text-align: center;
      display: block;
      margin: 0 30px; } }

.list__link {
  font-weight: bold;
  color: #fff;
  transition: 0.5s; }
  .list__link:hover {
    color: #000; }
  @media screen and (max-width: 768px) {
    .list__link {
      border-bottom: 2px solid #fff;
      padding: 20px; } }

.port__lang {
  color: #000;
  font-weight: bold;
  display: none;
  position: absolute;
  top: -20px;
  left: 40px;
  padding: 20px;
  background: #fff; }

.display:hover .port__lang {
  display: inline-block; }

@media screen and (max-width: 768px) {
  .display {
    display: none; } }

@media screen and (max-width: 768px) {
  .bn {
    border-bottom: none; } }

.activeb {
  display: block; }

@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50px;
    height: 50px;
    padding: 6px 10px;
    cursor: pointer;
    z-index: 999; }

  .hamburger__line {
    background: #fff;
    width: 100%;
    height: 2px;
    transition: 0.1s; }

  .active .hamburger__line {
    background-color: #fff; }
    .active .hamburger__line:nth-child(1) {
      transform-origin: 0 100%;
      transform: rotate(45deg) translate(4px, -3px); }
    .active .hamburger__line:nth-child(2) {
      opacity: 0; }
    .active .hamburger__line:nth-child(3) {
      transform-origin: 0% 100%;
      transform: rotate(-45deg) translate(7px, 3px); } }
@media screen and (max-width: 1200px) {
  .header__menu {
    display: block; } }
@media screen and (max-width: 768px) {
  .header__menu {
    display: none; } }
.slider {
  width: 100%; }

.slider__block {
  width: 100%;
  position: relative;
  height: 100vh;
  background: url(../img/photo1.jpg) 0 0 no-repeat;
  background-size: cover; }
  .slider__block::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0; }

.slider__block2 {
  width: 100%;
  position: relative;
  height: 100vh;
  background: url(../img/photo9.jpg) 0 0 no-repeat;
  background-size: cover; }
  .slider__block2::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0; }

.slider__block3 {
  width: 100%;
  position: relative;
  height: 100vh;
  background: url(../img/photo11.jpg) 0 0 no-repeat;
  background-size: cover; }
  .slider__block3::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0; }

.slider__block4 {
  width: 100%;
  position: relative;
  height: 100vh;
  background: url(../img/photo10.jpg) 0 0 no-repeat;
  background-size: cover; }
  .slider__block4::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0; }

.slider__block5 {
  width: 100%;
  position: relative;
  height: 100vh;
  background: url(../img/photo13.jpg) 0 0 no-repeat;
  background-size: cover; }
  .slider__block5::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0; }

.slick-prev {
  z-index: 10;
  background: url("../img/arrow.png") no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  transform: rotate(90deg) translate(-50%, -50%);
  display: inline-block;
  font-size: 0;
  padding: 25px;
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  left: 0; }

@media screen and (max-width: 480px) {
  .slick-arrow {
    display: none !important; } }

.slick-next {
  z-index: 10;
  background: url("../img/arrow.png") no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  transform: rotate(-90deg) translate(50%, -50%);
  display: inline-block;
  padding: 25px;
  font-size: 0;
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  right: 0; }
  @media screen and (max-width: 480px) {
    .slick-next {
      display: none !important; } }

.slider__txt {
  font-size: 1.375rem;
  color: #50a6bd; }
  @media screen and (max-width: 480px) {
    .slider__txt {
      font-size: 1.25rem; } }

.slider__heading {
  font-size: 2.5rem;
  color: #fff; }
  @media screen and (max-width: 480px) {
    .slider__heading {
      font-size: 1.875rem; } }

.slider__link {
  position: relative;
  display: inline-block;
  color: #fff;
  padding: 20px;
  border-radius: 9px;
  background: #50a6bd; }
  .slider__link:active {
    background-color: #50a6bd;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 100, 0.5); }

.ping__link {
  z-index: -1;
  background: #50a6bd;
  display: inline-block;
  width: 150px;
  height: 100px;
  position: absolute;
  top: -19px;
  left: -16px;
  opacity: 0.5;
  border-radius: 9px; }

.slider__box {
  margin-top: 25%;
  padding: 0 10%; }
  @media screen and (max-width: 768px) {
    .slider__box {
      margin-top: 40%;
      padding: 0 20%; } }
  @media screen and (max-width: 480px) {
    .slider__box {
      margin-top: 50%; } }

.wrapper {
  z-index: 20; }

.slick-dots {
  height: auto;
  position: absolute;
  top: 40%;
  right: 10%;
  display: none !important;
  margin: 0;
  padding: 0; }
  @media screen and (max-width: 480px) {
    .slick-dots {
      display: inline-block !important; } }

.slick-dots li {
  height: 10px;
  width: 10px;
  list-style: none;
  position: relative;
  margin-bottom: 10px; }

.slick-dots li button {
  padding: 0;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  font-size: 0;
  border: none;
  background: #50a6bd;
  position: absolute;
  top: 0;
  left: 0; }

.slick-dots .slick-active::before {
  content: "";
  height: 10px;
  width: 10px;
  border: 2px solid #50a6bd;
  border-radius: 50%;
  display: inline-block;
  margin: -2px 0 0 -2px;
  transform: translateY(-3px); }

.slick-dots .slick-active button {
  background: transparent; }

.ping {
  animation: ping 0.8s ease-in-out infinite both; }

@-webkit-keyframes ping {
  0% {
    transform: scale(0.2);
    opacity: 0.8; }
  80% {
    transform: scale(1.2);
    opacity: 0; }
  100% {
    transform: scale(2.2);
    opacity: 0; } }
@-moz-keyframes ping {
  0% {
    transform: scale(0.2);
    opacity: 0.8; }
  80% {
    transform: scale(1.2);
    opacity: 0; }
  100% {
    transform: scale(2.2);
    opacity: 0; } }
@-ms-keyframes ping {
  0% {
    transform: scale(0.2);
    opacity: 0.8; }
  80% {
    transform: scale(1.2);
    opacity: 0; }
  100% {
    transform: scale(2.2);
    opacity: 0; } }
@keyframes ping {
  0% {
    transform: scale(0.2);
    opacity: 0.8; }
  80% {
    transform: scale(1.2);
    opacity: 0; }
  100% {
    transform: scale(2.2);
    opacity: 0; } }
.edu {
  padding: 70px 5%; }

.edu__block {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .edu__block {
      flex-direction: column; } }

.edu__info {
  width: 48%; }
  @media screen and (max-width: 768px) {
    .edu__info {
      width: 100%;
      margin-bottom: 50px; } }

.edu__colored {
  color: #50a6bd;
  text-transform: uppercase; }

.edu__box {
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: baseline; }
  @media screen and (max-width: 768px) {
    .edu__box {
      flex-direction: column; } }

.edu__item {
  width: 30%; }
  @media screen and (max-width: 768px) {
    .edu__item {
      text-align: center;
      width: 100%; } }

.changed {
  font-size: 2.5rem;
  color: #50a6bd; }

.edu__img {
  position: relative;
  width: 48%; }
  @media screen and (max-width: 768px) {
    .edu__img {
      height: 267px;
      width: 100%; } }

.edu__photo {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.edu__txt {
  margin-bottom: 50px; }

.edu__icon {
  width: 50px;
  height: 50px; }

.width {
  width: 70px;
  height: 40px; }

.course {
  position: relative;
  background: url(../img/photo3.jpg) 0 0 no-repeat fixed;
  background-size: cover;
  padding: 70px 5%; }
  .course::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0; }

.course__heading {
  font-size: 2rem;
  text-align: center;
  color: #fff; }

.course__txt {
  font-size: 1.125rem;
  text-align: center;
  color: #fff; }

.course__link {
  color: #50a6bd;
  padding: 0 10px; }

.course__block {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .course__block {
      flex-direction: column; } }

.course__item {
  width: 100%; }
  @media screen and (max-width: 768px) {
    .course__item {
      margin-top: 20px;
      width: 100%; } }

.course__img {
  background: url(../img/photo4.jpg) 0 -150px no-repeat;
  background-size: cover;
  height: 400px; }
  @media screen and (max-width: 992px) {
    .course__img {
      background-position: 0 0; } }

.course__info {
  background: #50a6bd;
  padding: 4% 4% 80px 4%; }

.bar__link {
  color: #000; }

.info__bar {
  overflow: hidden; }

.fr {
  float: right; }

.info__link {
  position: relative;
  display: inline-block;
  color: #fff;
  padding: 20px;
  border-radius: 9px;
  background: #50a6bd; }
  .info__link:active {
    background-color: #50a6bd;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 100, 0.5); }

.program__block {
  padding: 50px 50px 20px 50px;
  background: #50a6bd;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.program__hg {
  color: #000;
  margin: 0 0 30px 0; }

.program__item {
  background: #fff;
  position: relative;
  transition: 0.5s;
  border-radius: 9px;
  border: 1px solid #50a6bd;
  border-top: 10px solid #50a6bd;
  padding: 20px 20px 40px 20px;
  width: 48%;
  text-align: center;
  margin-bottom: 30px;
  cursor: pointer;
  box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.75); }
  .program__item:hover {
    transform: translateY(2px);
    box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.75); }
  @media screen and (max-width: 992px) {
    .program__item {
      width: 48%; } }
  @media screen and (max-width: 768px) {
    .program__item {
      width: 100%; } }

.program__link {
  background: #50a6bd;
  padding: 20px;
  color: #fff;
  border-radius: 9px; }

.choose {
  padding: 70px 5%; }

.choose__block {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .choose__block {
      flex-direction: column; } }

.choose__box {
  width: 100%;
  display: flex;
  justify-content: space-around; }
  @media screen and (max-width: 768px) {
    .choose__box {
      flex-direction: column; } }

.choose__block {
  display: flex; }

.choose__item {
  display: flex;
  flex-direction: column;
  align-items: center; }

.choose__item:hover .icon__img {
  transform: scale(1.1); }

.choose__heading {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px; }

.choose__txt {
  margin-bottom: 50px; }

.item__heading {
  margin-top: 20px; }

.item__icon {
  text-align: center; }

.icon__img {
  transition: 0.5s;
  width: 100px;
  height: 100px; }

.fact {
  color: #fff;
  padding: 70px 5%;
  position: relative;
  background: url(../img/photo7.jpg) 0 0 no-repeat fixed;
  background-size: cover; }
  .fact::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0; }

.fact__block {
  margin-top: 50px;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .fact__block {
      flex-wrap: wrap; } }

.fact__item {
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  padding-top: 47px;
  width: 22%;
  height: 237px;
  text-align: center;
  transition: 0.5s; }
  .fact__item:hover {
    transform: translateY(-10px); }
  @media screen and (max-width: 768px) {
    .fact__item {
      width: 48%; } }
  @media screen and (max-width: 480px) {
    .fact__item {
      width: 100%; } }

.fact__txt {
  font-size: 2rem;
  margin: 0; }

.colored {
  color: #50a6bd;
  margin-top: 16px; }

.span {
  position: relative;
  font-size: 2rem; }

.bb {
  margin: 0;
  width: 32px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

@media screen and (max-width: 768px) {
  .mb {
    margin-bottom: 30px; } }

@media screen and (max-width: 480px) {
  .mb2 {
    margin-bottom: 30px; } }

.link {
  text-align: center;
  padding: 70px 5%;
  background: #fff; }

.link__heading {
  font-size: 2rem; }

.link__txt {
  font-size: 1.125rem; }

.link__block {
  margin-top: 50px;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 992px) {
    .link__block {
      flex-wrap: wrap; } }

.link__item {
  position: relative;
  width: 22%; }
  @media screen and (max-width: 992px) {
    .link__item {
      width: 48%; } }
  @media screen and (max-width: 480px) {
    .link__item {
      margin: 0 auto;
      width: 80%; } }

.link__img {
  position: relative;
  height: 300px;
  overflow: hidden; }

.link__img:before {
  content: "";
  height: 301px;
  width: 100%;
  background: #50a6bd;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: 0.5s;
  opacity: 0.5; }

.link__img:hover::before {
  transform: translateY(0%); }

.link__photo {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.link__head {
  text-align: center; }

.link__btn {
  width: 150px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  text-align: center;
  z-index: 999;
  transition: 0.5s; }

.link__item:hover .link__btn {
  transform: translate(-50%, -50%) scale(1); }

.link__link {
  font-size: 2rem;
  color: #fff; }

.image-effect-fall-back {
  height: 300px;
  position: relative;
  margin: 0 auto;
  -webkit-perspective: 800px;
  perspective: 800px; }
  @media screen and (max-width: 768px) {
    .image-effect-fall-back {
      width: 90%; } }

.image-effect-fall-back .image-layer {
  height: 300px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 1; }
  @media screen and (max-width: 768px) {
    .image-effect-fall-back .image-layer {
      -webkit-transform: rotateX(70deg);
      transform: rotateX(70deg);
      overflow: visible; } }

.image-effect-fall-back:hover .image-layer {
  -webkit-transform: rotateX(70deg);
  transform: rotateX(70deg);
  overflow: visible; }
  @media screen and (max-width: 768px) {
    .image-effect-fall-back:hover .image-layer {
      -webkit-transform: rotateX(70deg);
      transform: rotateX(70deg);
      overflow: visible; } }

.image-effect-fall-back .image-layer img {
  height: 100%; }
  @media screen and (max-width: 768px) {
    .image-effect-fall-back .image-layer img {
      width: 90%; } }

.image-effect-fall-back .image-layer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotateX(114deg) translateZ(-26px) translateY(110px) scale(0.75);
  transform: rotateX(114deg) translateZ(-26px) translateY(110px) scale(0.75);
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom; }

.image-effect-fall-back:hover .image-layer:before {
  opacity: 0.3; }

.image-effect-fall-back .share-layer {
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
  height: 100px;
  opacity: 0;
  z-index: 10;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: rotateX(70deg);
  transform: rotateX(70deg); }
  @media screen and (max-width: 768px) {
    .image-effect-fall-back .share-layer {
      bottom: 75px;
      opacity: 1;
      -webkit-transform: rotateX(0deg) translateY(-70px);
      transform: rotateX(0deg) translateY(-70px); } }

.image-effect-fall-back:hover .share-layer {
  opacity: 1;
  -webkit-transform: rotateX(0deg) translateY(-70px);
  transform: rotateX(0deg) translateY(-70px); }

.share-button {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  padding: 12px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 25px 10px;
  line-height: 1.7;
  box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.75); }

.share-via-facebook {
  background-color: #3b5998; }

.share-via-twitter {
  background-color: #fff;
  transform: translateY(7px); }

.share-via-google {
  background-color: #d34836; }

.feedback {
  position: relative;
  padding: 70px 5%;
  background: url(../img/photo8.jpg) 0 0 no-repeat fixed;
  background-size: cover; }
  .feedback::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0; }

.feedback__heading {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px; }

.feedback__txt {
  color: #fff;
  text-align: center;
  font-size: 1.125rem; }

.form__box {
  text-align: center; }

.form__row {
  position: relative; }

.user {
  border-radius: 9px;
  border: solid 2px #50a6bd;
  color: #000;
  width: 70%;
  padding: 12px;
  margin-bottom: 10px;
  outline: none; }

.user__label {
  position: absolute;
  top: 15px;
  left: 25%;
  transform: translateX(-70%); }

.form__submit {
  display: block;
  margin: 0 auto;
  border: none;
  padding: 15px 20px;
  border-radius: 9px;
  background: #50a6bd;
  outline: none; }
  .form__submit:active {
    background-color: #50a6bd;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 100, 0.5); }

.textarea {
  width: 70%;
  margin-bottom: 20px;
  padding: 12px;
  color: #000;
  outline: none;
  border-radius: 9px;
  border: solid 2px #50a6bd; }

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none; }

.footer {
  padding: 20px 5%;
  color: #fff;
  overflow: hidden;
  background: #1B2C39; }
  .footer__link {
    color: #50a6bd;
    display: inline-block; }

.footer__block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  @media screen and (max-width: 768px) {
    .footer__block {
      width: 100%;
      clear: both; } }
  @media screen and (max-width: 480px) {
    .footer__block {
      text-align: center;
      flex-direction: column; } }

.phone {
  width: 33%;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .phone {
      width: 100%; } }

.footer__txt {
  padding: 20px;
  border-radius: 30px;
  background: #50a6bd;
  margin: 16px 0;
  display: inline-block;
  margin: 16px 20px;
  color: #000; }

.footer__btn {
  color: #fff;
  display: inline-block;
  margin: 15px 0 15px 20px; }

.mtn {
  height: 60px;
  margin: 0 auto; }
  @media screen and (max-width: 480px) {
    .mtn {
      margin-top: 0; } }

.mauto {
  margin: auto; }

div.citrus {
  width: 100%;
  display: flex;
  background-color: #fff;
  color: #6F6F6F;
  padding: 0.9375rem;
  justify-content: center;
  align-items: center; }
  div.citrus p {
    margin-right: 0.625rem;
    color: #000; }
  div.citrus b {
    color: #000; }
  div.citrus div.citrus-logo {
    display: flex;
    align-items: center; }
    div.citrus div.citrus-logo img {
      width: 35px;
      height: 35px;
      margin-right: 0.3125rem; }

/*# sourceMappingURL=main.css.map */
